@model LearningCSharp.Models.Blog

<section class="resume-section p-3 p-lg-5 d-flex align-items-center">
    <div class="w-100">
        <h2 class="mb-5">Confirm Deletion Of: '@Html.DisplayFor(model => model.PostTitle)'</h2>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <p>
                    <h3 class="mb-0">@Html.DisplayFor(model => model.PostTitle)</h3>
                    <div class="subheading mb-3">@Html.DisplayFor(model => model.Author)</div>
                </p>
                <p>
                    @Html.DisplayFor(model => model.PostBody)
                </p>
                <div class="subheading mb-3">
                    @Html.DisplayFor(model => model.CreatedOn)
                    @Html.DisplayFor(model => model.EditedOn)
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        @Html.ActionLink("Cancel", "Index", null,null, new { @class = "btn btn-warning" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>