@model LearningCSharp.Models.Blog

<section class="resume-section p-3 p-lg-5 d-flex align-items-center">
    <div class="w-100">
        <h2 class="mb-5">@Html.DisplayFor(model => model.PostTitle)</h2>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <p>
                    <h3 class="mb-0">@Html.DisplayFor(model => model.PostTitle)</h3>
                    <div class="subheading mb-3">@Html.DisplayFor(model => model.Author)</div>
                </p>
                <p>
                    @Html.DisplayFor(model => model.PostBody)
                </p>
                <div class="subheading mb-3">
                    @Html.DisplayFor(model => model.CreatedOn)
                    @Html.DisplayFor(model => model.EditedOn)
                </div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }, new { @class = "btn btn-warning", @style = "margin-right: 5px;" })
                @Html.ActionLink("Go Back...", "Index", null, null, new { @class = "btn btn-primary"})
            </div>
        </div>
    </div>
</section>
